In [69]:
# Relevant Packages
import pandas as pd
import numpy as np
import scipy.io as sio
import matplotlib.pyplot as plt
import pyart
import os

# suppress warnings
import warnings
warnings.filterwarnings("ignore")

### STEP 1

In [86]:
# Read in the lidar data
# 3 Aug, 6 Aug, 7 Aug 2019 are the days with lidar data!
lidar_path = "../lidar_data/lidar-data-3-Aug.csv" # path to file can be changed as needed
dateNum = 3 # date number, to be changed according to the lidar date

lidar = pd.read_csv(lidar_path)
lidar = lidar.drop("Unnamed: 0", axis=1)

# check the lidar data imported
lidar

,Midtime,Latitude,Longitude,Fire ID,Pass #,MLH,Plume Height,MLH Estimate
0,78247.007,47.972,-116.836,10.0,1.0,2143.3048,-9999.0,2850.8139
1,78257.007,47.986,-116.855,10.0,1.0,2712.9095,-9999.0,2850.8139
2,78267.503,48.001,-116.876,10.0,1.0,2802.8473,-9999.0,2850.8139
3,78277.504,48.015,-116.895,10.0,1.0,3042.6808,-9999.0,2850.8139
4,78287.504,48.028,-116.915,10.0,1.0,3102.6393,-9999.0,2850.8139
...,...,...,...,...,...,...,...,...
1631,95231.503,48.461,-117.760,10.0,2.0,3012.7015,-9999.0,3069.1330
1632,95241.503,48.474,-117.761,10.0,2.0,2982.7224,-9999.0,3069.1330
1633,95252.007,48.487,-117.761,10.0,2.0,3012.7015,-9999.0,3069.1330
1634,95262.007,48.499,-117.761,10.0,2.0,3072.6600,-9999.0,3069.1330
1635,95272.007,48.512,-117.762,10.0,2.0,3132.6184,-9999.0,3069.1330

In [87]:
# filter out the heights outside of the grid box
# change these values as needed for pre-determined grid
# 47.85 <= latitude <= 48.05
# -118.70 <= longitude <= -118.30

gridbox = lidar[lidar['Latitude'] >= 47.85]
gridbox = gridbox[gridbox['Latitude'] <= 48.05]
gridbox = gridbox[gridbox['Longitude'] >= -118.70]
gridbox = gridbox[gridbox['Longitude'] <= -118.30]

In [88]:
gridbox

,Midtime,Latitude,Longitude,Fire ID,Pass #,MLH,Plume Height,MLH Estimate
66,78921.504,48.041,-118.304,10.0,1.0,-9999.0,2772.8680,2358.4497
67,78931.503,48.034,-118.326,10.0,1.0,-9999.0,2832.8264,2358.4497
68,78942.007,48.027,-118.350,10.0,1.0,-9999.0,3042.6808,2358.4497
69,78952.007,48.020,-118.373,10.0,1.0,-9999.0,3012.7015,2358.4497
70,78962.007,48.012,-118.395,10.0,1.0,-9999.0,2862.8055,2358.4497
...,...,...,...,...,...,...,...,...
1109,89894.007,47.902,-118.356,10.0,2.0,-9999.0,3102.6393,2818.8361
1110,89904.007,47.889,-118.356,10.0,2.0,-9999.0,3102.6393,2818.8361
1111,89914.503,47.876,-118.355,10.0,2.0,-9999.0,3102.6393,2818.8361
1112,89924.504,47.863,-118.355,10.0,2.0,-9999.0,3012.7015,2818.8361
1113,89934.504,47.850,-118.355,10.0,2.0,-9999.0,2982.7224,2818.8361

In [89]:
# Convert lidar times
# to datetime format

# Lidar times
ltimes = np.array(gridbox["Midtime"])

# change the unixtime accordingly
unixtime = 1564790400 # 3 August 2019 UTC
# unixtime = 1565049600 # 6 August 2019 UTC
# unixtime = 1565136000 # 7 August 2019 UTC 

# Convert the times to datetime format
ldelta = np.full(len(ltimes), unixtime)
lidartimes = ltimes + ldelta
lidartimes = np.array(lidartimes, dtype="datetime64[s]")

# check the lidar times to make sure they are correct
lidartimes

array(['2019-08-03T21:55:21', '2019-08-03T21:55:31',
       '2019-08-03T21:55:42', '2019-08-03T21:55:52',
       '2019-08-03T21:56:02', '2019-08-03T21:56:12',
       '2019-08-03T21:56:22', '2019-08-03T21:56:32',
       '2019-08-03T21:56:42', '2019-08-03T21:56:52',
       '2019-08-03T21:57:03', '2019-08-03T21:57:13',
       '2019-08-03T21:57:23', '2019-08-03T21:57:33',
       '2019-08-03T21:57:43', '2019-08-03T21:57:53',
       '2019-08-03T21:58:04', '2019-08-03T21:58:14',
       '2019-08-03T22:06:29', '2019-08-03T22:06:40',
       '2019-08-03T22:06:50', '2019-08-03T22:07:00',
       '2019-08-03T22:07:10', '2019-08-03T22:07:20',
       '2019-08-03T22:07:30', '2019-08-03T22:07:41',
       '2019-08-03T22:07:51', '2019-08-03T22:08:01',
       '2019-08-03T22:08:11', '2019-08-03T22:08:21',
       '2019-08-03T22:08:31', '2019-08-03T22:21:39',
       '2019-08-03T22:21:49', '2019-08-03T22:22:00',
       '2019-08-03T22:22:10', '2019-08-03T22:22:20',
       '2019-08-03T22:22:30', '2019-08-03T22:22:40',
       '2019-08-03T22:22:50', '2019-08-03T22:23:01',
       '2019-08-03T22:23:11', '2019-08-03T22:23:21',
       '2019-08-03T22:23:31', '2019-08-03T22:23:41',
       '2019-08-03T22:23:51', '2019-08-03T22:24:02',
       '2019-08-03T22:24:12', '2019-08-03T22:28:42',
       '2019-08-03T22:28:52', '2019-08-03T22:29:02',
       '2019-08-03T22:29:12', '2019-08-03T22:29:23',
       '2019-08-03T22:29:33', '2019-08-03T22:29:43',
       '2019-08-03T22:29:53', '2019-08-03T22:30:03',
       '2019-08-03T22:30:13', '2019-08-03T22:30:23',
       '2019-08-03T22:30:34', '2019-08-03T22:30:44',
       '2019-08-03T22:30:54', '2019-08-03T22:31:04',
       '2019-08-03T22:31:14', '2019-08-03T22:31:24',
       '2019-08-03T22:37:03', '2019-08-03T22:37:13',
       '2019-08-03T22:37:23', '2019-08-03T22:37:34',
       '2019-08-03T22:37:44', '2019-08-03T22:37:54',
       '2019-08-03T22:38:04', '2019-08-03T22:38:14',
       '2019-08-03T22:38:24', '2019-08-03T22:38:35',
       '2019-08-03T22:38:45', '2019-08-03T22:38:55',
       '2019-08-03T22:39:05', '2019-08-03T22:39:15',
       '2019-08-03T22:39:25', '2019-08-03T22:39:36',
       '2019-08-03T22:44:32', '2019-08-03T22:44:42',
       '2019-08-03T22:44:52', '2019-08-03T22:45:02',
       '2019-08-03T22:45:13', '2019-08-03T22:45:23',
       '2019-08-03T22:45:33', '2019-08-03T22:45:43',
       '2019-08-04T00:19:49', '2019-08-04T00:20:00',
       '2019-08-04T00:20:10', '2019-08-04T00:20:20',
       '2019-08-04T00:20:30', '2019-08-04T00:20:40',
       '2019-08-04T00:20:50', '2019-08-04T00:21:01',
       '2019-08-04T00:21:11', '2019-08-04T00:21:21',
       '2019-08-04T00:21:31', '2019-08-04T00:21:41',
       '2019-08-04T00:21:51', '2019-08-04T00:22:03',
       '2019-08-04T00:22:13', '2019-08-04T00:22:24',
       '2019-08-04T00:22:34', '2019-08-04T00:22:44',
       '2019-08-04T00:30:27', '2019-08-04T00:30:37',
       '2019-08-04T00:30:47', '2019-08-04T00:30:58',
       '2019-08-04T00:31:08', '2019-08-04T00:31:18',
       '2019-08-04T00:34:53', '2019-08-04T00:35:03',
       '2019-08-04T00:35:13', '2019-08-04T00:35:23',
       '2019-08-04T00:35:34', '2019-08-04T00:35:44',
       '2019-08-04T00:35:54', '2019-08-04T00:36:04',
       '2019-08-04T00:36:14', '2019-08-04T00:36:24',
       '2019-08-04T00:36:35', '2019-08-04T00:36:45',
       '2019-08-04T00:36:55', '2019-08-04T00:37:05',
       '2019-08-04T00:37:15', '2019-08-04T00:37:25',
       '2019-08-04T00:40:55', '2019-08-04T00:41:05',
       '2019-08-04T00:41:15', '2019-08-04T00:41:25',
       '2019-08-04T00:41:35', '2019-08-04T00:41:45',
       '2019-08-04T00:41:55', '2019-08-04T00:42:06',
       '2019-08-04T00:42:16', '2019-08-04T00:42:26',
       '2019-08-04T00:42:36', '2019-08-04T00:42:46',
       '2019-08-04T00:42:56', '2019-08-04T00:43:07',
       '2019-08-04T00:43:17', '2019-08-04T00:43:27',
       '2019-08-04T00:43:37', '2019-08-04T00:48:23',
       '2019-08-04T00:48:33', '2019-08-04T00:48:43',
       '2019-08-04T00:48:54', '2019-08-04T00:49:04',
       '2019-08-04T00:49:14', '2019-08-04T00:49:24',
       '2019-08-04T00:49:34', '2019-08-04T00:56:22',
       '2019-08-04T00:56:32', '2019-08-04T00:56:42',
       '2019-08-04T00:56:53', '2019-08-04T00:57:03',
       '2019-08-04T00:57:13', '2019-08-04T00:57:23',
       '2019-08-04T00:57:33', '2019-08-04T00:57:43',
       '2019-08-04T00:57:53', '2019-08-04T00:58:04',
       '2019-08-04T00:58:14', '2019-08-04T00:58:24',
       '2019-08-04T00:58:34', '2019-08-04T00:58:44',
       '2019-08-04T00:58:54'], dtype='datetime64[s]')

In [90]:
# Now check if any lidar times are out of 
# range for the given day

# i.e., if it is 7 Aug 2019 PST - we need to check whether
# it is 8 Aug 2019 UTC. 
N = 0
for i, t in enumerate(lidartimes):
    if t > np.datetime64('2019-08-0'+str(dateNum)+'T23:59:59'):
        N = i
        print("N = ", i, t)
        break

N =  88 2019-08-04T00:19:49

In [91]:
"""
We will change the next_day boolean variable accordingly.
If we are inspecting the heights for 7 Aug UTC, next_day == False
If the heights are for 8 Aug UTC next_day == True
"""
# Comment out accordingly
# next_day = True
next_day = False

if N != 0:
    if next_day == False:
        ltimes = ltimes[:N]
    elif next_day == True:
        ltimes = ltimes[N:]

In [92]:
ltimes # check

array([78921.504, 78931.503, 78942.007, 78952.007, 78962.007, 78972.007,
       78982.503, 78992.503, 79002.504, 79012.504, 79023.007, 79033.007,
       79043.007, 79053.504, 79063.503, 79073.503, 79084.007, 79094.007,
       79589.504, 79600.008, 79610.008, 79620.007, 79630.503, 79640.504,
       79650.503, 79661.007, 79671.007, 79681.008, 79691.504, 79701.504,
       79711.504, 80499.503, 80509.503, 80520.007, 80530.007, 80540.007,
       80550.504, 80560.504, 80570.504, 80581.007, 80591.007, 80601.007,
       80611.503, 80621.504, 80631.503, 80642.007, 80652.007, 80922.007,
       80932.504, 80942.504, 80952.503, 80963.007, 80973.007, 80983.007,
       80993.007, 81003.504, 81013.504, 81023.504, 81034.007, 81044.007,
       81054.007, 81064.504, 81074.504, 81084.504, 81423.504, 81433.504,
       81443.504, 81454.007, 81464.007, 81474.007, 81484.504, 81494.504,
       81504.504, 81515.007, 81525.007, 81535.007, 81545.504, 81555.503,
       81565.503, 81576.008, 81872.007, 81882.504, 81892.504, 81902.503,
       81913.007, 81923.007, 81933.007, 81943.007])

In [93]:
# if you set next_day == True, 
# you need to increase the dateNum by 1
if next_day == True:
    dateNum += 1

In [94]:
# Reading in the Radar data - injection heights within grid box
# change the path accordingly
path = "../Injection-Heights/new-injection-heights_3-Aug-2019.mat"
radar = sio.loadmat(path)

# checking radar data
radar

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Thu Dec  2 17:29:16 2021',
 '__version__': '1.0',
 '__globals__': [],
 'smoke_injection_height': array([[[-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         ...,
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.]],

        [[-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         ...,
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.]],

        [[-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         ...,
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.]],

        ...,

        [[-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         ...,
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.]],

        [[-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         ...,
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.]],

        [[-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         ...,
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.],
         [-1., -1., -1., ..., -1., -1., -1.]]]),
 'time': array([[4.7000e+01, 3.0700e+02, 5.6900e+02, 8.3100e+02, 1.0920e+03,
         1.3540e+03, 1.6160e+03, 1.8760e+03, 2.1370e+03, 2.3980e+03,
         2.6690e+03, 2.9390e+03, 3.2040e+03, 3.4730e+03, 3.7440e+03,
         4.0150e+03, 4.2810e+03, 4.5480e+03, 4.8140e+03, 5.0790e+03,
         5.3450e+03, 5.6120e+03, 5.8840e+03, 6.1490e+03, 6.4160e+03,
         6.6810e+03, 6.9460e+03, 7.2120e+03, 7.4770e+03, 7.7470e+03,
         8.0130e+03, 8.2790e+03, 8.5460e+03, 8.8120e+03, 9.0770e+03,
         9.3420e+03, 9.6030e+03, 9.8630e+03, 1.0124e+04, 1.0386e+04,
         1.0646e+04, 1.0907e+04, 1.1168e+04, 1.1429e+04, 1.1689e+04,
         1.1964e+04, 1.2239e+04, 1.2514e+04, 1.2789e+04, 1.3066e+04,
         1.3336e+04, 1.3607e+04, 1.3877e+04, 1.4153e+04, 1.4428e+04,
         1.4711e+04, 1.4993e+04, 1.5274e+04, 1.5555e+04, 1.5837e+04,
         1.6119e+04, 1.6402e+04, 1.6685e+04, 1.6966e+04, 1.7247e+04,
         1.7528e+04, 1.7810e+04, 1.8091e+04, 1.8373e+04, 1.8654e+04,
         1.8935e+04, 1.9217e+04, 1.9498e+04, 1.9781e+04, 2.0062e+04,
         2.0343e+04, 2.0625e+04, 2.0905e+04, 2.1187e+04, 2.1469e+04,
         2.1751e+04, 2.2032e+04, 2.2313e+04, 2.2595e+04, 2.2877e+04,
         2.3158e+04, 2.3440e+04, 2.3838e+04, 2.4120e+04, 2.4401e+04,
         2.4684e+04, 2.4965e+04, 2.5248e+04, 2.5531e+04, 2.5813e+04,
         2.6095e+04, 2.6376e+04, 2.6657e+04, 2.6939e+04, 2.7222e+04,
         2.7504e+04, 2.7785e+04, 2.8067e+04, 2.8350e+04, 2.8631e+04,
         2.8913e+04, 2.9194e+04, 2.9476e+04, 2.9760e+04, 3.0041e+04,
         3.0323e+04, 3.0605e+04, 3.0886e+04, 3.1169e+04, 3.1450e+04,
         3.1732e+04, 3.2014e+04, 3.2296e+04, 3.2579e+04, 3.2860e+04,
         3.3141e+04, 3.3423e+04, 3.3705e+04, 3.3986e+04, 3.4268e+04,
         3.4549e+04, 3.4831e+04, 3.5115e+04, 3.5395e+04, 3.5676e+04,
         3.5957e+04, 3.6238e+04, 3.6520e+04, 3.6802e+04, 3.7084e+04,
         3.7365e+04, 3.7647e+04, 3.7929e+04, 3.8210e+04, 3.8492e+04,
         3.8773e+04, 3.9055e+04, 3.9337e+04, 3.9612e+04, 3.9894e+04,
         4.0175e+04, 4.0457e+04, 4.0739e+04, 4.1021e+04, 4.1304e+04,
         4.1585e+04, 4.1866e+04, 4.2148e+04, 4.2432e+04, 4.2714e+04,
         4.2996e+04, 4.3418e+04, 4.3846e+04, 4.4276e+04, 4.4703e+04,
         4.5132e+04, 4.5560e+04, 4.5990e+04, 4.6418e+04, 4.6846e+04,
         4.7274e+04, 4.7703e+04, 4.8131e+04, 4.8560e+04, 4.8988e+04,
         4.9417e+04, 4.9846e+04, 5.0274e+04, 5.0702e+04, 5.1130e+04,
         5.1558e+04, 5.1988e+04, 5.2417e+04, 5.3387e+04, 5.3817e+04,
         5.4246e+04, 5.4675e+04, 5.5103e+04, 5.5531e+04, 5.5960e+04,
         5.6369e+04, 5.6783e+04, 5.7192e+04, 5.7622e+04, 5.8051e+04,
         5.8480e+04, 5.8910e+04, 5.9337e+04, 5.9765e+04, 6.0194e+04,
         6.0622e+04, 6.1050e+04, 6.1479e+04, 6.1907e+04, 6.2336e+04,
         6.2764e+04, 6.3193e+04, 6.3620e+04, 6.4049e+04, 6.4471e+04,
         6.4899e+04, 6.5327e+04, 6.5755e+04, 6.6185e+04, 6.6614e+04,
         6.7044e+04, 6.7466e+04, 6.7895e+04, 6.8319e+04, 6.8747e+04,
         6.9176e+04, 6.9604e+04, 7.0035e+04, 7.0465e+04, 7.0894e+04,
         7.1322e+04, 7.1751e+04, 7.2176e+04, 7.2603e+04, 7.3026e+04,
         7.3450e+04, 7.3872e+04, 7.4302e+04, 7.4731e+04, 7.5154e+04,
         7.5577e+04, 7.6000e+04, 7.6429e+04, 7.6858e+04, 7.7286e+04,
         7.7709e+04, 7.8137e+04, 7.8561e+04, 7.8985e+04, 7.9413e+04,
         7.9842e+04, 8.0271e+04, 8.0698e+04, 8.1121e+04, 8.1550e+04,
         8.2092e+04, 8.2515e+04, 8.2944e+04, 8.3368e+04, 8.3797e+04,
         8.4220e+04, 8.4643e+04, 8.5073e+04, 8.5503e+04, 8.5925e+04,
         8.6349e+04]]),
 'max_injection_heights': array([[ 5.47447475e+03,  5.77750505e+03,  5.27245455e+03,
          4.86841414e+03,  6.28255556e+03,  6.28255556e+03,
          6.28255556e+03,  6.08053535e+03,  5.97952525e+03,
          5.97952525e+03,  5.27245455e+03,  5.27245455e+03,
          5.97952525e+03,  5.87851515e+03,  5.87851515e+03,
          5.17144444e+03,  5.67649495e+03,  5.17144444e+03,
          5.07043434e+03,  4.76740404e+03,  5.17144444e+03,
          6.28255556e+03,  6.98962626e+03,  5.37346465e+03,
          6.98962626e+03,  7.19164646e+03,  8.20174747e+03,
          8.40376768e+03,  8.10073737e+03,  6.98962626e+03,
          7.09063636e+03,  6.88861616e+03,  6.98962626e+03,
          5.97952525e+03,  6.88861616e+03,  6.98962626e+03,
          6.08053535e+03,  6.08053535e+03,  5.77750505e+03,
          5.27245455e+03,  5.87851515e+03,  5.37346465e+03,
          6.08053535e+03,  6.08053535e+03,  5.07043434e+03,
          5.17144444e+03,  5.17144444e+03,  5.07043434e+03,
          5.17144444e+03,  4.56538384e+03,  4.06033333e+03,
          4.56538384e+03,  5.07043434e+03,  5.07043434e+03,
          4.56538384e+03,  4.06033333e+03,  3.35326263e+03,
          2.34316162e+03,  1.73710101e+03,  4.66639394e+03,
          5.17144444e+03,  5.07043434e+03,  5.17144444e+03,
          4.76740404e+03,  5.27245455e+03,  5.07043434e+03,
          4.46437374e+03,  4.36336364e+03,  3.75730303e+03,
          3.25225253e+03,  2.34316162e+03,  1.83811111e+03,
          1.83811111e+03,  1.83811111e+03,  2.64619192e+03,
          2.64619192e+03,  3.05023232e+03,  3.25225253e+03,
          3.05023232e+03,  3.05023232e+03,  2.54518182e+03,
          2.54518182e+03,  2.44417172e+03,  2.34316162e+03,
          2.24215152e+03,  2.54518182e+03,  2.34316162e+03,
          1.93912121e+03,  1.93912121e+03,  1.93912121e+03,
          2.54518182e+03,  2.64619192e+03,  2.74720202e+03,
          2.84821212e+03,  3.25225253e+03,  2.94922222e+03,
          2.74720202e+03,  2.64619192e+03,  2.54518182e+03,
          2.54518182e+03,  2.54518182e+03,  2.54518182e+03,
          2.24215152e+03,  2.04013131e+03,  2.04013131e+03,
          2.44417172e+03,  2.44417172e+03,  2.64619192e+03,
          2.34316162e+03,  2.24215152e+03,  2.14114141e+03,
          2.24215152e+03,  2.54518182e+03,  2.54518182e+03,
          2.34316162e+03,  1.63609091e+03,  1.23205051e+03,
          1.03003030e+03,  1.93912121e+03,  1.63609091e+03,
          1.13104040e+03, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00,  7.27000000e+02,  3.15124242e+03,
          2.94922222e+03,  2.34316162e+03,  1.43407071e+03,
         -1.00000000e+00, -1.00000000e+00,  8.28010101e+02,
          1.23205051e+03, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00,  9.29020202e+02, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00,  1.13104040e+03, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,
         -1.00000000e+00, -1.00000000e+00,  4.76740404e+03,
          4.76740404e+03,  2.84821212e+03,  3.15124242e+03,
          4.16134343e+03,  5.37346465e+03,  4.76740404e+03,
          4.76740404e+03,  4.86841414e+03,  5.57548485e+03,
          4.86841414e+03,  4.86841414e+03,  4.76740404e+03,
          3.25225253e+03,  2.64619192e+03,  5.57548485e+03,
          5.57548485e+03,  4.86841414e+03,  4.76740404e+03,
          4.86841414e+03,  5.57548485e+03,  5.47447475e+03,
          4.86841414e+03,  5.47447475e+03,  5.07043434e+03,
          4.86841414e+03,  4.76740404e+03,  4.96942424e+03,
          4.86841414e+03,  4.96942424e+03,  3.85831313e+03,
          4.96942424e+03,  4.86841414e+03,  4.06033333e+03,
          4.76740404e+03,  5.57548485e+03,  4.76740404e+03,
          4.86841414e+03,  4.96942424e+03,  4.26235354e+03,
          4.16134343e+03,  4.16134343e+03,  4.96942424e+03,
          5.57548485e+03,  5.57548485e+03,  5.57548485e+03,
          5.57548485e+03,  5.57548485e+03,  5.47447475e+03,
          5.57548485e+03,  5.57548485e+03,  5.57548485e+03,
          5.57548485e+03,  5.57548485e+03,  6.48457576e+03,
          5.57548485e+03,  5.57548485e+03,  5.57548485e+03,
          5.57548485e+03,  5.47447475e+03,  5.57548485e+03,
          5.57548485e+03,  5.47447475e+03,  6.88861616e+03,
          5.97952525e+03]]),
 'latitudes': array([[47.85028609, 47.86158269, 47.87287928, 47.88417588, 47.89547247,
         47.90676907, 47.91806566, 47.92936225, 47.94065884, 47.95195543,
         47.96325202, 47.97454861, 47.9858452 , 47.99714179, 48.00843838,
         48.01973496, 48.03103155, 48.04232814, 48.05362472],
        [47.85044333, 47.86173997, 47.87303661, 47.88433325, 47.89562989,
         47.90692652, 47.91822316, 47.9295198 , 47.94081643, 47.95211307,
         47.9634097 , 47.97470634, 47.98600297, 47.9972996 , 48.00859623,
         48.01989286, 48.03118949, 48.04248612, 48.05378275],
        [47.85059811, 47.8618948 , 47.87319148, 47.88448816, 47.89578484,
         47.90708152, 47.9183782 , 47.92967488, 47.94097156, 47.95226824,
         47.96356492, 47.97486159, 47.98615827, 47.99745494, 48.00875162,
         48.02004829, 48.03134497, 48.04264164, 48.05393831],
        [47.85075044, 47.86204717, 47.87334389, 47.88464062, 47.89593734,
         47.90723406, 47.91853079, 47.92982751, 47.94112423, 47.95242095,
         47.96371767, 47.97501439, 47.98631111, 47.99760782, 48.00890454,
         48.02020126, 48.03149797, 48.04279469, 48.0540914 ],
        [47.85090031, 47.86219708, 47.87349385, 47.88479061, 47.89608738,
         47.90738414, 47.91868091, 47.92997767, 47.94127443, 47.9525712 ,
         47.96386796, 47.97516472, 47.98646148, 47.99775824, 48.009055  ,
         48.02035175, 48.03164851, 48.04294527, 48.05424202],
        [47.85104773, 47.86234453, 47.87364134, 47.88493815, 47.89623496,
         47.90753176, 47.91882857, 47.93012537, 47.94142218, 47.95271898,
         47.96401578, 47.97531258, 47.98660938, 47.99790619, 48.00920299,
         48.02049979, 48.03179658, 48.04309338, 48.05439018],
        [47.85119269, 47.86248953, 47.87378638, 47.88508323, 47.89638008,
         47.90767692, 47.91897377, 47.93027061, 47.94156746, 47.9528643 ,
         47.96416114, 47.97545799, 47.98675483, 47.99805167, 48.00934851,
         48.02064535, 48.03194219, 48.04323903, 48.05453587],
        [47.85133519, 47.86263208, 47.87392896, 47.88522585, 47.89652274,
         47.90781962, 47.91911651, 47.93041339, 47.94171028, 47.95300716,
         47.96430404, 47.97560092, 47.98689781, 47.99819469, 48.00949157,
         48.02078845, 48.03208533, 48.0433822 , 48.05467908],
        [47.85147523, 47.86277216, 47.87406909, 47.88536601, 47.89666294,
         47.90795986, 47.91925679, 47.93055371, 47.94185063, 47.95314756,
         47.96444448, 47.9757414 , 47.98703832, 47.99833524, 48.00963216,
         48.02092908, 48.032226  , 48.04352291, 48.05481983],
        [47.85161282, 47.86290979, 47.87420675, 47.88550372, 47.89680068,
         47.90809764, 47.91939461, 47.93069157, 47.94198853, 47.95328549,
         47.96458245, 47.97587941, 47.98717637, 47.99847333, 48.00977028,
         48.02106724, 48.0323642 , 48.04366115, 48.05495811],
        [47.85174796, 47.86304496, 47.87434196, 47.88563896, 47.89693596,
         47.90823296, 47.91952996, 47.93082696, 47.94212396, 47.95342096,
         47.96471796, 47.97601496, 47.98731195, 47.99860895, 48.00990594,
         48.02120294, 48.03249993, 48.04379693, 48.05509392],
        [47.85188063, 47.86317767, 47.87447471, 47.88577175, 47.89706879,
         47.90836582, 47.91966286, 47.9309599 , 47.94225693, 47.95355397,
         47.964851  , 47.97614804, 47.98744507, 47.9987421 , 48.01003914,
         48.02133617, 48.0326332 , 48.04393023, 48.05522726],
        [47.85201085, 47.86330793, 47.874605  , 47.88590208, 47.89719915,
         47.90849622, 47.9197933 , 47.93109037, 47.94238744, 47.95368451,
         47.96498159, 47.97627866, 47.98757573, 47.9988728 , 48.01016987,
         48.02146693, 48.032764  , 48.04406107, 48.05535814],
        [47.85213861, 47.86343573, 47.87473284, 47.88602995, 47.89732706,
         47.90862417, 47.91992127, 47.93121838, 47.94251549, 47.9538126 ,
         47.9651097 , 47.97640681, 47.98770392, 47.99900102, 48.01029813,
         48.02159523, 48.03289233, 48.04418944, 48.05548654],
        [47.85226392, 47.86356107, 47.87485821, 47.88615536, 47.8974525 ,
         47.90874965, 47.92004679, 47.93134393, 47.94264108, 47.95393822,
         47.96523536, 47.9765325 , 47.98782964, 47.99912678, 48.01042392,
         48.02172106, 48.0330182 , 48.04431534, 48.05561248],
        [47.85238677, 47.86368395, 47.87498113, 47.88627831, 47.89757549,
         47.90887267, 47.92016984, 47.93146702, 47.9427642 , 47.95406137,
         47.96535855, 47.97665573, 47.9879529 , 47.99925008, 48.01054725,
         48.02184442, 48.0331416 , 48.04443877, 48.05573594],
        [47.85250716, 47.86380438, 47.87510159, 47.8863988 , 47.89769602,
         47.90899323, 47.92029044, 47.93158765, 47.94288486, 47.95418207,
         47.96547928, 47.97677649, 47.9880737 , 47.99937091, 48.01066811,
         48.02196532, 48.03326253, 48.04455973, 48.05585694],
        [47.8526251 , 47.86392235, 47.87521959, 47.88651684, 47.89781408,
         47.90911133, 47.92040857, 47.93170582, 47.94300306, 47.9543003 ,
         47.96559754, 47.97689479, 47.98819203, 47.99948927, 48.01078651,
         48.02208375, 48.03338099, 48.04467823, 48.05597547],
        [47.85274058, 47.86403786, 47.87533514, 47.88663241, 47.89792969,
         47.90922697, 47.92052424, 47.93182152, 47.9431188 , 47.95441607,
         47.96571334, 47.97701062, 47.98830789, 47.99960517, 48.01090244,
         48.02219971, 48.03349698, 48.04479426, 48.05609153],
        [47.8528536 , 47.86415091, 47.87544822, 47.88674553, 47.89804284,
         47.90934015, 47.92063746, 47.93193476, 47.94323207, 47.95452938,
         47.96582668, 47.97712399, 47.98842129, 47.9997186 , 48.0110159 ,
         48.02231321, 48.03361051, 48.04490782, 48.05620512],
        [47.85296417, 47.86426151, 47.87555885, 47.88685619, 47.89815353,
         47.90945087, 47.92074821, 47.93204554, 47.94334288, 47.95464022,
         47.96593756, 47.97723489, 47.98853223, 47.99982957, 48.0111269 ,
         48.02242424, 48.03372157, 48.04501891, 48.05631624],
        [47.85307228, 47.86436965, 47.87566702, 47.88696439, 47.89826176,
         47.90955913, 47.9208565 , 47.93215386, 47.94345123, 47.9547486 ,
         47.96604597, 47.97734333, 47.9886407 , 47.99993807, 48.01123543,
         48.0225328 , 48.03383016, 48.04512753, 48.05642489],
        [47.85317793, 47.86447533, 47.87577273, 47.88707013, 47.89836753,
         47.90966493, 47.92096233, 47.93225972, 47.94355712, 47.95485452,
         47.96615191, 47.97744931, 47.98874671, 48.0000441 , 48.0113415 ,
         48.02263889, 48.03393629, 48.04523368, 48.05653108],
        [47.85328113, 47.86457856, 47.87587599, 47.88717341, 47.89847084,
         47.90976827, 47.92106569, 47.93236312, 47.94366055, 47.95495797,
         47.9662554 , 47.97755282, 47.98885025, 48.00014767, 48.0114451 ,
         48.02274252, 48.03403994, 48.04533737, 48.05663479],
        [47.85338187, 47.86467933, 47.87597678, 47.88727424, 47.89857169,
         47.90986915, 47.9211666 , 47.93246406, 47.94376151, 47.95505896,
         47.96635642, 47.97765387, 47.98895132, 48.00024878, 48.01154623,
         48.02284368, 48.03414113, 48.04543858, 48.05673603],
        [47.85348015, 47.86477764, 47.87607512, 47.8873726 , 47.89867008,
         47.90996757, 47.92126505, 47.93256253, 47.94386001, 47.95515749,
         47.96645497, 47.97775245, 47.98904993, 48.00034741, 48.01164489,
         48.02294237, 48.03423985, 48.04553733, 48.05683481]]),
 'longitudes': array([[-118.71261102, -118.71284744, -118.71308399, -118.71332067,
         -118.71355749, -118.71379443, -118.71403151, -118.71426872,
         -118.71450606, -118.71474353, -118.71498114, -118.71521888,
         -118.71545675, -118.71569475, -118.71593288, -118.71617115,
         -118.71640955, -118.71664808, -118.71688675],
        [-118.69577683, -118.69600958, -118.69624247, -118.69647549,
         -118.69670863, -118.69694191, -118.69717531, -118.69740884,
         -118.69764251, -118.6978763 , -118.69811022, -118.69834428,
         -118.69857846, -118.69881277, -118.69904722, -118.69928179,
         -118.6995165 , -118.69975134, -118.6999863 ],
        [-118.67894254, -118.67917163, -118.67940085, -118.6796302 ,
         -118.67985968, -118.68008928, -118.68031901, -118.68054887,
         -118.68077885, -118.68100896, -118.68123921, -118.68146958,
         -118.68170007, -118.6819307 , -118.68216145, -118.68239234,
         -118.68262335, -118.68285449, -118.68308576],
        [-118.66210815, -118.66233358, -118.66255914, -118.66278481,
         -118.66301062, -118.66323655, -118.66346261, -118.66368879,
         -118.6639151 , -118.66414153, -118.66436809, -118.66459477,
         -118.66482158, -118.66504852, -118.66527559, -118.66550278,
         -118.66573009, -118.66595754, -118.66618511],
        [-118.64527366, -118.64549543, -118.64571732, -118.64593933,
         -118.64616147, -118.64638372, -118.64660611, -118.64682861,
         -118.64705124, -118.64727399, -118.64749687, -118.64771987,
         -118.647943  , -118.64816625, -118.64838962, -118.64861312,
         -118.64883674, -118.64906049, -118.64928436],
        [-118.62843908, -118.62865718, -118.62887541, -118.62909375,
         -118.62931222, -118.6295308 , -118.62974951, -118.62996834,
         -118.63018729, -118.63040636, -118.63062556, -118.63084487,
         -118.63106431, -118.63128387, -118.63150356, -118.63172336,

In [95]:
# reading in the radar times
rtimes = np.array(radar["time"][0])
rtimes # check

array([4.7000e+01, 3.0700e+02, 5.6900e+02, 8.3100e+02, 1.0920e+03,
       1.3540e+03, 1.6160e+03, 1.8760e+03, 2.1370e+03, 2.3980e+03,
       2.6690e+03, 2.9390e+03, 3.2040e+03, 3.4730e+03, 3.7440e+03,
       4.0150e+03, 4.2810e+03, 4.5480e+03, 4.8140e+03, 5.0790e+03,
       5.3450e+03, 5.6120e+03, 5.8840e+03, 6.1490e+03, 6.4160e+03,
       6.6810e+03, 6.9460e+03, 7.2120e+03, 7.4770e+03, 7.7470e+03,
       8.0130e+03, 8.2790e+03, 8.5460e+03, 8.8120e+03, 9.0770e+03,
       9.3420e+03, 9.6030e+03, 9.8630e+03, 1.0124e+04, 1.0386e+04,
       1.0646e+04, 1.0907e+04, 1.1168e+04, 1.1429e+04, 1.1689e+04,
       1.1964e+04, 1.2239e+04, 1.2514e+04, 1.2789e+04, 1.3066e+04,
       1.3336e+04, 1.3607e+04, 1.3877e+04, 1.4153e+04, 1.4428e+04,
       1.4711e+04, 1.4993e+04, 1.5274e+04, 1.5555e+04, 1.5837e+04,
       1.6119e+04, 1.6402e+04, 1.6685e+04, 1.6966e+04, 1.7247e+04,
       1.7528e+04, 1.7810e+04, 1.8091e+04, 1.8373e+04, 1.8654e+04,
       1.8935e+04, 1.9217e+04, 1.9498e+04, 1.9781e+04, 2.0062e+04,
       2.0343e+04, 2.0625e+04, 2.0905e+04, 2.1187e+04, 2.1469e+04,
       2.1751e+04, 2.2032e+04, 2.2313e+04, 2.2595e+04, 2.2877e+04,
       2.3158e+04, 2.3440e+04, 2.3838e+04, 2.4120e+04, 2.4401e+04,
       2.4684e+04, 2.4965e+04, 2.5248e+04, 2.5531e+04, 2.5813e+04,
       2.6095e+04, 2.6376e+04, 2.6657e+04, 2.6939e+04, 2.7222e+04,
       2.7504e+04, 2.7785e+04, 2.8067e+04, 2.8350e+04, 2.8631e+04,
       2.8913e+04, 2.9194e+04, 2.9476e+04, 2.9760e+04, 3.0041e+04,
       3.0323e+04, 3.0605e+04, 3.0886e+04, 3.1169e+04, 3.1450e+04,
       3.1732e+04, 3.2014e+04, 3.2296e+04, 3.2579e+04, 3.2860e+04,
       3.3141e+04, 3.3423e+04, 3.3705e+04, 3.3986e+04, 3.4268e+04,
       3.4549e+04, 3.4831e+04, 3.5115e+04, 3.5395e+04, 3.5676e+04,
       3.5957e+04, 3.6238e+04, 3.6520e+04, 3.6802e+04, 3.7084e+04,
       3.7365e+04, 3.7647e+04, 3.7929e+04, 3.8210e+04, 3.8492e+04,
       3.8773e+04, 3.9055e+04, 3.9337e+04, 3.9612e+04, 3.9894e+04,
       4.0175e+04, 4.0457e+04, 4.0739e+04, 4.1021e+04, 4.1304e+04,
       4.1585e+04, 4.1866e+04, 4.2148e+04, 4.2432e+04, 4.2714e+04,
       4.2996e+04, 4.3418e+04, 4.3846e+04, 4.4276e+04, 4.4703e+04,
       4.5132e+04, 4.5560e+04, 4.5990e+04, 4.6418e+04, 4.6846e+04,
       4.7274e+04, 4.7703e+04, 4.8131e+04, 4.8560e+04, 4.8988e+04,
       4.9417e+04, 4.9846e+04, 5.0274e+04, 5.0702e+04, 5.1130e+04,
       5.1558e+04, 5.1988e+04, 5.2417e+04, 5.3387e+04, 5.3817e+04,
       5.4246e+04, 5.4675e+04, 5.5103e+04, 5.5531e+04, 5.5960e+04,
       5.6369e+04, 5.6783e+04, 5.7192e+04, 5.7622e+04, 5.8051e+04,
       5.8480e+04, 5.8910e+04, 5.9337e+04, 5.9765e+04, 6.0194e+04,
       6.0622e+04, 6.1050e+04, 6.1479e+04, 6.1907e+04, 6.2336e+04,
       6.2764e+04, 6.3193e+04, 6.3620e+04, 6.4049e+04, 6.4471e+04,
       6.4899e+04, 6.5327e+04, 6.5755e+04, 6.6185e+04, 6.6614e+04,
       6.7044e+04, 6.7466e+04, 6.7895e+04, 6.8319e+04, 6.8747e+04,
       6.9176e+04, 6.9604e+04, 7.0035e+04, 7.0465e+04, 7.0894e+04,
       7.1322e+04, 7.1751e+04, 7.2176e+04, 7.2603e+04, 7.3026e+04,
       7.3450e+04, 7.3872e+04, 7.4302e+04, 7.4731e+04, 7.5154e+04,
       7.5577e+04, 7.6000e+04, 7.6429e+04, 7.6858e+04, 7.7286e+04,
       7.7709e+04, 7.8137e+04, 7.8561e+04, 7.8985e+04, 7.9413e+04,
       7.9842e+04, 8.0271e+04, 8.0698e+04, 8.1121e+04, 8.1550e+04,
       8.2092e+04, 8.2515e+04, 8.2944e+04, 8.3368e+04, 8.3797e+04,
       8.4220e+04, 8.4643e+04, 8.5073e+04, 8.5503e+04, 8.5925e+04,
       8.6349e+04])

In [96]:
# if we want the next day times, add 24 hours to the times of the following day
if next_day == True:
    rtimes += (24*60*60)
    
rtimes # check

array([4.7000e+01, 3.0700e+02, 5.6900e+02, 8.3100e+02, 1.0920e+03,
       1.3540e+03, 1.6160e+03, 1.8760e+03, 2.1370e+03, 2.3980e+03,
       2.6690e+03, 2.9390e+03, 3.2040e+03, 3.4730e+03, 3.7440e+03,
       4.0150e+03, 4.2810e+03, 4.5480e+03, 4.8140e+03, 5.0790e+03,
       5.3450e+03, 5.6120e+03, 5.8840e+03, 6.1490e+03, 6.4160e+03,
       6.6810e+03, 6.9460e+03, 7.2120e+03, 7.4770e+03, 7.7470e+03,
       8.0130e+03, 8.2790e+03, 8.5460e+03, 8.8120e+03, 9.0770e+03,
       9.3420e+03, 9.6030e+03, 9.8630e+03, 1.0124e+04, 1.0386e+04,
       1.0646e+04, 1.0907e+04, 1.1168e+04, 1.1429e+04, 1.1689e+04,
       1.1964e+04, 1.2239e+04, 1.2514e+04, 1.2789e+04, 1.3066e+04,
       1.3336e+04, 1.3607e+04, 1.3877e+04, 1.4153e+04, 1.4428e+04,
       1.4711e+04, 1.4993e+04, 1.5274e+04, 1.5555e+04, 1.5837e+04,
       1.6119e+04, 1.6402e+04, 1.6685e+04, 1.6966e+04, 1.7247e+04,
       1.7528e+04, 1.7810e+04, 1.8091e+04, 1.8373e+04, 1.8654e+04,
       1.8935e+04, 1.9217e+04, 1.9498e+04, 1.9781e+04, 2.0062e+04,
       2.0343e+04, 2.0625e+04, 2.0905e+04, 2.1187e+04, 2.1469e+04,
       2.1751e+04, 2.2032e+04, 2.2313e+04, 2.2595e+04, 2.2877e+04,
       2.3158e+04, 2.3440e+04, 2.3838e+04, 2.4120e+04, 2.4401e+04,
       2.4684e+04, 2.4965e+04, 2.5248e+04, 2.5531e+04, 2.5813e+04,
       2.6095e+04, 2.6376e+04, 2.6657e+04, 2.6939e+04, 2.7222e+04,
       2.7504e+04, 2.7785e+04, 2.8067e+04, 2.8350e+04, 2.8631e+04,
       2.8913e+04, 2.9194e+04, 2.9476e+04, 2.9760e+04, 3.0041e+04,
       3.0323e+04, 3.0605e+04, 3.0886e+04, 3.1169e+04, 3.1450e+04,
       3.1732e+04, 3.2014e+04, 3.2296e+04, 3.2579e+04, 3.2860e+04,
       3.3141e+04, 3.3423e+04, 3.3705e+04, 3.3986e+04, 3.4268e+04,
       3.4549e+04, 3.4831e+04, 3.5115e+04, 3.5395e+04, 3.5676e+04,
       3.5957e+04, 3.6238e+04, 3.6520e+04, 3.6802e+04, 3.7084e+04,
       3.7365e+04, 3.7647e+04, 3.7929e+04, 3.8210e+04, 3.8492e+04,
       3.8773e+04, 3.9055e+04, 3.9337e+04, 3.9612e+04, 3.9894e+04,
       4.0175e+04, 4.0457e+04, 4.0739e+04, 4.1021e+04, 4.1304e+04,
       4.1585e+04, 4.1866e+04, 4.2148e+04, 4.2432e+04, 4.2714e+04,
       4.2996e+04, 4.3418e+04, 4.3846e+04, 4.4276e+04, 4.4703e+04,
       4.5132e+04, 4.5560e+04, 4.5990e+04, 4.6418e+04, 4.6846e+04,
       4.7274e+04, 4.7703e+04, 4.8131e+04, 4.8560e+04, 4.8988e+04,
       4.9417e+04, 4.9846e+04, 5.0274e+04, 5.0702e+04, 5.1130e+04,
       5.1558e+04, 5.1988e+04, 5.2417e+04, 5.3387e+04, 5.3817e+04,
       5.4246e+04, 5.4675e+04, 5.5103e+04, 5.5531e+04, 5.5960e+04,
       5.6369e+04, 5.6783e+04, 5.7192e+04, 5.7622e+04, 5.8051e+04,
       5.8480e+04, 5.8910e+04, 5.9337e+04, 5.9765e+04, 6.0194e+04,
       6.0622e+04, 6.1050e+04, 6.1479e+04, 6.1907e+04, 6.2336e+04,
       6.2764e+04, 6.3193e+04, 6.3620e+04, 6.4049e+04, 6.4471e+04,
       6.4899e+04, 6.5327e+04, 6.5755e+04, 6.6185e+04, 6.6614e+04,
       6.7044e+04, 6.7466e+04, 6.7895e+04, 6.8319e+04, 6.8747e+04,
       6.9176e+04, 6.9604e+04, 7.0035e+04, 7.0465e+04, 7.0894e+04,
       7.1322e+04, 7.1751e+04, 7.2176e+04, 7.2603e+04, 7.3026e+04,
       7.3450e+04, 7.3872e+04, 7.4302e+04, 7.4731e+04, 7.5154e+04,
       7.5577e+04, 7.6000e+04, 7.6429e+04, 7.6858e+04, 7.7286e+04,
       7.7709e+04, 7.8137e+04, 7.8561e+04, 7.8985e+04, 7.9413e+04,
       7.9842e+04, 8.0271e+04, 8.0698e+04, 8.1121e+04, 8.1550e+04,
       8.2092e+04, 8.2515e+04, 8.2944e+04, 8.3368e+04, 8.3797e+04,
       8.4220e+04, 8.4643e+04, 8.5073e+04, 8.5503e+04, 8.5925e+04,
       8.6349e+04])

In [97]:
# Helper function to find nearest time
def nearest(times, tvalue):
    tarr = np.asarray(times)
    idx = (np.abs(tarr - tvalue)).argmin()
    return times[idx], idx

In [98]:
radartimes = np.array([])
rindexes = np.array([])
for t in np.asarray(ltimes):
    r, i = nearest(rtimes, t)
    print(r, i) # check
    radartimes = np.append(radartimes, r)
    rindexes = np.append(rindexes, i)

78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
78985.0 238
79413.0 239
79413.0 239
79413.0 239
79413.0 239
79842.0 240
79842.0 240
79842.0 240
79842.0 240
79842.0 240
79842.0 240
79842.0 240
79842.0 240
79842.0 240
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
80698.0 242
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81121.0 243
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
81550.0 244
82092.0 245
82092.0 245
82092.0 245
82092.0 245
82092.0 245
82092.0 245
82092.0 245
82092.0 245

In [99]:
#reorganized radar and lidar data
lidar = gridbox
rdata = pd.DataFrame() # empty data frame

if N!= 0:
    if next_day == False:  
        rdata['lidar_times'] = np.asarray(ltimes)
        rdata['radar_times'] = radartimes
        rdata['time_index'] = rindexes
        rdata['lidar_heights'] = np.asarray(lidar["Plume Height"][:N])
        rdata['lat'] = np.asarray(lidar["Latitude"][:N])
        rdata['long'] = np.asarray(lidar['Longitude'][:N])
    else:
        rdata['lidar_times'] = np.asarray(ltimes)
        rdata['radar_times'] = radartimes
        rdata['time_index'] = rindexes
        rdata['lidar_heights'] = np.asarray(lidar["Plume Height"][N:])
        rdata['lat'] = np.asarray(lidar["Latitude"][N:])
        rdata['long'] = np.asarray(lidar['Longitude'][N:])
else:
    rdata['lidar_times'] = np.asarray(ltimes)
    rdata['radar_times'] = radartimes
    rdata['time_index'] = rindexes
    rdata['lidar_heights'] = np.asarray(lidar["Plume Height"])
    rdata['lat'] = np.asarray(lidar["Latitude"])
    rdata['long'] = np.asarray(lidar['Longitude'])
        
rdata # check

    lidar_times  radar_times  time_index  lidar_heights     lat     long
0     78921.504      78985.0       238.0      2772.8680  48.041 -118.304
1     78931.503      78985.0       238.0      2832.8264  48.034 -118.326
2     78942.007      78985.0       238.0      3042.6808  48.027 -118.350
3     78952.007      78985.0       238.0      3012.7015  48.020 -118.373
4     78962.007      78985.0       238.0      2862.8055  48.012 -118.395
..          ...          ...         ...            ...     ...      ...
83    81902.503      82092.0       245.0      3402.4313  48.002 -118.325
84    81913.007      82092.0       245.0      3402.4313  48.014 -118.334
85    81923.007      82092.0       245.0      3492.3688  48.025 -118.342
86    81933.007      82092.0       245.0      3282.5144  48.036 -118.350
87    81943.007      82092.0       245.0      3312.4935  48.047 -118.359

[88 rows x 6 columns]

In [19]:
# Importing raw radar data files
# change this as needed:
path = "../../../data/3aug2019"
filenames = []
for root, dirs, files in os.walk(path):
    for f in sorted(files):
        for i in range(10):
            if f.startswith('KOTX2019080'+str(dateNum)+'_0'+str(i)):
                filenames.append(f)
        for j in range(10, 24):
            if f.startswith('KOTX2019080'+str(dateNum)+'_'+str(j)):
                filenames.append(f)

In [20]:
len(filenames)

256

In [21]:
# Helper function to find nearest latitude longitude position
def nearest_latlong(latitudes, longitudes, lidarlat, lidarlong):
    xval = 0
    yval = 0
    totalmin = 1000

    # actual distance 
    difflat2 = np.power(np.abs(latitudes - lidarlat), 2)
    difflong2 = np.power(np.abs(longitudes - lidarlong), 2)

    diff = np.sqrt(difflat2+difflong2)

    [xval, yval] = np.where(np.min(diff)==diff)
                
#     print(xval[0], yval[0])
#     print(latitudes.shape)
    # returning the indexes of the latitude
    return latitudes[xval, yval][0], longitudes[xval, yval][0], xval[0], yval[0]

In [22]:
# Initializing arrays
radar_latitudes = np.zeros(len(rdata))
radar_longitudes = np.zeros(len(rdata))
reflectivities = np.zeros(100*len(rdata)).reshape(len(rdata), 100)
correlations = np.zeros(100*len(rdata)).reshape(len(rdata), 100)
heights = np.zeros(100*len(rdata)).reshape(len(rdata), 100)
injections = np.zeros(len(rdata))

# Remember to comment the following out if you need to reload the saved data:
# radar_latitudes = savedfile['latitudes'][0]
# radar_longitudes = savedfile['longitudes'][0]
# reflectivities = savedfile['reflectivity']
# correlations = savedfile['correlation']
# heights = savedfile['altitudes']
# injections = savedfile['injection_heights'][0]

In [23]:
# last file saved
saved = 0

# Lidar Location Mapping

for row in range(saved, len(rdata)):
    fnum = int(rdata["time_index"][row])
    file = filenames[fnum]
    print('file-num', fnum, 'rdata-', row)

    if row != 0:
        if int(rdata["time_index"][row-1]) != fnum:
            # Radar object and regridding
            radar = pyart.io.read(path+file) # removed scans
            grid = pyart.map.grid_from_radars((radar,), grid_shape=(100,200,200),
                                             grid_limits=((0,10000), (-125000.0, 125000.0), (-125000.0, 125000.0)))
    else:
        # Radar object and regridding
        radar = pyart.io.read(path+file) # removed scans
        grid = pyart.map.grid_from_radars((radar,), grid_shape=(100,200,200),
                                         grid_limits=((0,10000), (-125000.0, 125000.0), (-125000.0, 125000.0)))

    print("passed") # checkpoint
    
    lidarlat = rdata['lat'][row]
    lidarlong = rdata['long'][row]

    # Latitude, Longitude, Altitude
    latitudes = grid.point_latitude['data'][0, :, :]
    longitudes = grid.point_longitude['data'][0, :, :]
    altitudes = grid.point_altitude['data'][:, :, :]
    
    # Reflectivity
    refs = grid.fields['reflectivity']['data'][:, :, :].data
    # Correlation Coefficient
    coeffs = grid.fields['cross_correlation_ratio']['data'][:, :, :].data
    
    # Nearest Lat and Long
    radarlat, radarlong, rx, ry = nearest_latlong(latitudes, longitudes, lidarlat, lidarlong)
    radar_latitudes[row] = radarlat
    radar_longitudes[row] = radarlong
    
    # Associated refs, coeffs, and heights
    reflectivities[row] = refs[:, rx, ry]
    correlations[row] = coeffs[:, rx, ry]
    heights[row] = altitudes[:, rx, ry]
    
    # Injection Height Extraction
    bad_count = 0
    current_height = -1
    for i in range(len(reflectivities[row])):
        
        ref = reflectivities[row][i]
        coef = correlations[row][i]
        
        if ref >= 10.000 and 0.2 < coef and coef < 0.9:
            current_height = heights[row][i]
        else:
            bad_count += 1
            
        if bad_count > 2:
            injections[row] = current_height
            break
    
    savedict = {
        "reflectivity" : reflectivities,
        "correlation" : correlations,
        "altitudes" : heights,
        "latitudes" : radar_latitudes,
        "longitudes" : radar_longitudes,
        "injection_heights" : injections
    }
    sio.savemat('gridbox_'+str(dateNum)+'Aug2019.mat', savedict)
    
    print('done')

file-num 14 rdata- 0
passed
done
file-num 14 rdata- 1
passed
done
file-num 14 rdata- 2
passed
done
file-num 14 rdata- 3
passed
done
file-num 14 rdata- 4
passed
done
file-num 14 rdata- 5
passed
done
file-num 14 rdata- 6
passed
done
file-num 14 rdata- 7
passed
done
file-num 14 rdata- 8
passed
done
file-num 14 rdata- 9
passed
done
file-num 14 rdata- 10
passed
done
file-num 14 rdata- 11
passed
done
file-num 14 rdata- 12
passed
done
file-num 14 rdata- 13
passed
done
file-num 14 rdata- 14
passed
done
file-num 14 rdata- 15
passed
done
file-num 14 rdata- 16
passed
done
file-num 16 rdata- 17
passed
done
file-num 16 rdata- 18
passed
done
file-num 16 rdata- 19
passed
done
file-num 16 rdata- 20
passed
done
file-num 16 rdata- 21
passed
done
file-num 16 rdata- 22
passed
done
file-num 16 rdata- 23
passed
done
file-num 16 rdata- 24
passed
done
file-num 16 rdata- 25
passed
done
file-num 16 rdata- 26
passed
done
file-num 16 rdata- 27
passed
done
file-num 16 rdata- 28
passed
done

Before proceeding with Step 2, go back and re-do step 1 for the other days you would need to compare. You will need to create and save seperate .mat files of the data for a given day.

### STEP 2

In [122]:
aug3 = sio.loadmat('gridbox_3Aug2019.mat')
aug4 = sio.loadmat('gridbox_4Aug2019.mat')
aug6 = sio.loadmat('gridbox_6Aug2019.mat')
aug7 = sio.loadmat('gridbox_7Aug2019.mat')
aug8 = sio.loadmat('gridbox_8Aug2019.mat')

In [191]:
# lidar data for August 3, 2019
# Read in the lidar data
# 3 Aug, 6 Aug, 7 Aug 2019 are the days with lidar data!
lidar_path = "../lidar_data/lidar-data-7-Aug.csv" # path to file can be changed as needed
dateNum = 7 # date number, to be changed according to the lidar date

lidar = pd.read_csv(lidar_path)
lidar = lidar.drop("Unnamed: 0", axis=1)

# filter out the heights outside of the grid box
# change these values as needed for pre-determined grid
# 47.85 <= latitude <= 48.05
# -118.70 <= longitude <= -118.30
gridbox = lidar[lidar['Latitude'] >= 47.85]
gridbox = gridbox[gridbox['Latitude'] <= 48.05]
gridbox = gridbox[gridbox['Longitude'] >= -118.70]
gridbox = gridbox[gridbox['Longitude'] <= -118.30]

# Lidar times
ltimes = np.array(gridbox["Midtime"])

# change the unixtime accordingly
# unixtime = 1564790400 # 3 August 2019 UTC
# unixtime = 1565049600 # 6 August 2019 UTC
unixtime = 1565136000 # 7 August 2019 UTC 

# Convert the times to datetime format
ldelta = np.full(len(ltimes), unixtime)
lidartimes = ltimes + ldelta
lidartimes = np.array(lidartimes, dtype="datetime64[s]")

# Now check if any lidar times are out of 
# range for the given day

# i.e., if it is 7 Aug 2019 PST - we need to check whether
# it is 8 Aug 2019 UTC. 
N = 0
for i, t in enumerate(lidartimes):
    if t > np.datetime64('2019-08-0'+str(dateNum)+'T23:59:59'):
        N = i
        print("N = ", i, t)
        break

N =  36 2019-08-08T01:01:02

In [192]:
"""
We will change the next_day boolean variable accordingly.
If we are inspecting the heights for 7 Aug UTC, next_day == False
If the heights are for 8 Aug UTC next_day == True
"""
# Change bool accordingly
next_day = True

if N != 0:
    if next_day == False:
        ltimes = ltimes[:N]
    elif next_day == True:
        ltimes = ltimes[N:]
        
if next_day == True:
    dateNum += 1

In [194]:
# Reading in the Radar data - injection heights within grid box
# change the path accordingly
path = "../Injection-Heights/new-injection-heights_8-Aug-2019.mat"
radar = sio.loadmat(path)

# reading in the radar times
rtimes = np.array(radar["time"][0])
# if we want the next day times, add 24 hours to the times of the following day
if next_day == True:
    rtimes += (24*60*60)

radartimes = np.array([])
rindexes = np.array([])
for t in np.asarray(ltimes):
    r, i = nearest(rtimes, t)
    radartimes = np.append(radartimes, r)
    rindexes = np.append(rindexes, i)

In [195]:
#reorganized radar and lidar data
lidar = gridbox
rdata = pd.DataFrame() # empty data frame

if N!= 0:
    if next_day == False:  
        rdata['lidar_times'] = np.asarray(ltimes)
        rdata['radar_times'] = radartimes
        rdata['time_index'] = rindexes
        rdata['lidar_heights'] = np.asarray(lidar["Plume Height"][:N])
        rdata['lat'] = np.asarray(lidar["Latitude"][:N])
        rdata['long'] = np.asarray(lidar['Longitude'][:N])
    else:
        rdata['lidar_times'] = np.asarray(ltimes)
        rdata['radar_times'] = radartimes
        rdata['time_index'] = rindexes
        rdata['lidar_heights'] = np.asarray(lidar["Plume Height"][N:])
        rdata['lat'] = np.asarray(lidar["Latitude"][N:])
        rdata['long'] = np.asarray(lidar['Longitude'][N:])
else:
    rdata['lidar_times'] = np.asarray(ltimes)
    rdata['radar_times'] = radartimes
    rdata['time_index'] = rindexes
    rdata['lidar_heights'] = np.asarray(lidar["Plume Height"])
    rdata['lat'] = np.asarray(lidar["Latitude"])
    rdata['long'] = np.asarray(lidar['Longitude'])
        
rdata # check

    lidar_times  radar_times  time_index  lidar_heights     lat     long
0     90062.007      90151.0        14.0     -9999.0000  48.005 -118.301
1     90072.007      90151.0        14.0     -9999.0000  48.005 -118.325
2     90082.503      90151.0        14.0     -9999.0000  48.004 -118.350
3     90092.504      90151.0        14.0     -9999.0000  48.003 -118.373
4     90102.504      90151.0        14.0     -9999.0000  48.002 -118.397
5     90112.504      90151.0        14.0     -9999.0000  48.001 -118.421
6     90122.504      90151.0        14.0     -9999.0000  48.000 -118.444
7     90133.007      90151.0        14.0     -9999.0000  48.000 -118.469
8     90143.007      90151.0        14.0      5500.9753  47.999 -118.492
9     90153.007      90151.0        14.0      5051.2871  47.998 -118.516
10    90163.007      90151.0        14.0     -9999.0000  47.997 -118.539
11    90173.504      90151.0        14.0     -9999.0000  47.996 -118.564
12    90183.504      90151.0        14.0     -9999.0000  47.995 -118.588
13    90193.504      90151.0        14.0     -9999.0000  47.994 -118.611
14    90204.007      90151.0        14.0     -9999.0000  47.993 -118.636
15    90214.007      90151.0        14.0     -9999.0000  47.992 -118.660
16    90224.007      90151.0        14.0     -9999.0000  47.991 -118.684
17    90616.007      90674.0        16.0     -9999.0000  47.855 -118.638
18    90626.007      90674.0        16.0     -9999.0000  47.871 -118.634
19    90636.504      90674.0        16.0     -9999.0000  47.887 -118.631
20    90646.504      90674.0        16.0     -9999.0000  47.903 -118.628
21    90656.504      90674.0        16.0     -9999.0000  47.919 -118.626
22    90667.007      90674.0        16.0     -9999.0000  47.936 -118.622
23    90677.007      90674.0        16.0     -9999.0000  47.952 -118.620
24    90687.008      90674.0        16.0     -9999.0000  47.968 -118.618
25    90697.503      90674.0        16.0     -9999.0000  47.985 -118.617
26    90707.504      90674.0        16.0     -9999.0000  48.002 -118.616
27    90717.504      90674.0        16.0     -9999.0000  48.018 -118.616
28    90727.503      90674.0        16.0     -9999.0000  48.034 -118.615

In [196]:
# change the injection height day accordingly!
rdata['radar_heights'] = aug8['injection_heights'][0]

rdata.head() # check

,lidar_times,radar_times,time_index,lidar_heights,lat,long,radar_heights
0,90062.007,90151.0,14.0,-9999.0,48.005,-118.301,6080.535354
1,90072.007,90151.0,14.0,-9999.0,48.005,-118.325,6181.545455
2,90082.503,90151.0,14.0,-9999.0,48.004,-118.350,6080.535354
3,90092.504,90151.0,14.0,-9999.0,48.003,-118.373,6989.626263
4,90102.504,90151.0,14.0,-9999.0,48.002,-118.397,6282.555556

In [197]:
# re-writing the data
rdata['lidar_times'] = np.round(rdata['lidar_times']/3600, 2)
rdata['radar_times'] = np.round(rdata['radar_times']/3600, 2)

In [198]:
rdata.head() # check

,lidar_times,radar_times,time_index,lidar_heights,lat,long,radar_heights
0,25.02,25.04,14.0,-9999.0,48.005,-118.301,6080.535354
1,25.02,25.04,14.0,-9999.0,48.005,-118.325,6181.545455
2,25.02,25.04,14.0,-9999.0,48.004,-118.350,6080.535354
3,25.03,25.04,14.0,-9999.0,48.003,-118.373,6989.626263
4,25.03,25.04,14.0,-9999.0,48.002,-118.397,6282.555556

In [199]:
# Now, remove all the negative values
compare = rdata[rdata['lidar_heights'] > 0]
compare = compare[compare['radar_heights'] > 0]

compare # check

Empty DataFrame
Columns: [lidar_times, radar_times, time_index, lidar_heights, lat, long, radar_heights]
Index: []

In [200]:
diff = compare['radar_heights'] - compare['lidar_heights']
avg = (compare['radar_heights'] + compare['lidar_heights'])/2

percent_diff = 100*(diff/avg)
percent_diff

Series([], dtype: float64)

### Step 2.5
Create a data frame to store percentage differences per day. Remember to create a different cell each time to append the above results to different data frames.

#### August 4, 2019 UTC

In [161]:
aug4utc = compare
aug4utc['% diff'] = percent_diff
aug4utc.head()

,lidar_times,radar_times,time_index,lidar_heights,lat,long,radar_heights,% diff
3,24.34,24.34,2.0,4002.0153,47.991,-118.378,3656.292929,-9.028688
4,24.34,24.34,2.0,4331.7864,47.984,-118.403,3959.323232,-8.984640
6,24.35,24.34,2.0,4002.0153,47.974,-118.452,4060.333333,1.446676
9,24.36,24.34,2.0,3132.6184,47.961,-118.527,3858.313131,20.761031
10,24.36,24.34,2.0,3312.4935,47.957,-118.551,3555.282828,7.070391

#### August 3, 2019 UTC

In [150]:
aug3utc = compare
aug3utc['% diff'] = percent_diff
aug3utc.head()

,lidar_times,radar_times,time_index,lidar_heights,lat,long,radar_heights,% diff
9,21.95,21.94,238.0,3192.5768,47.976,-118.508,3656.292929,13.541391
11,21.95,21.94,238.0,3222.5560,47.962,-118.554,4161.343434,25.427958
36,22.38,22.42,242.0,3192.5768,47.982,-118.543,4363.363636,30.989838
37,22.38,22.42,242.0,3132.6184,47.970,-118.534,3858.313131,20.761031
38,22.38,22.42,242.0,3162.5975,47.957,-118.526,3555.282828,11.690751

#### August 7, 2019 UTC

In [190]:
aug7utc = compare
aug7utc['% diff'] = percent_diff
aug7utc.head()

,lidar_times,radar_times,time_index,lidar_heights,lat,long,radar_heights,% diff
0,23.25,23.25,298.0,7029.9143,48.023,-118.300,4969.424242,-34.343394
7,23.27,23.25,298.0,5470.9961,48.021,-118.465,4565.383838,-18.046592
8,23.27,23.25,298.0,5261.1416,48.017,-118.488,4262.353535,-20.975242
9,23.27,23.25,298.0,4121.9319,48.013,-118.510,2848.212121,-36.547875
34,23.60,23.58,302.0,4721.5159,48.018,-118.306,5575.484848,16.586751

### Step 3
We will now compute an overall percentage difference in heights.

### Aug 3 2019 PST
Combine both of the above dataframes

In [168]:
# concatenate along x
aug3pst = pd.concat([aug3utc, aug4utc], axis=0, ignore_index=True)

aug3pst.head() # check

,lidar_times,radar_times,time_index,lidar_heights,lat,long,radar_heights,% diff
0,21.95,21.94,238.0,3192.5768,47.976,-118.508,3656.292929,13.541391
1,21.95,21.94,238.0,3222.5560,47.962,-118.554,4161.343434,25.427958
2,22.38,22.42,242.0,3192.5768,47.982,-118.543,4363.363636,30.989838
3,22.38,22.42,242.0,3132.6184,47.970,-118.534,3858.313131,20.761031
4,22.38,22.42,242.0,3162.5975,47.957,-118.526,3555.282828,11.690751

In [170]:
aug3pst['% diff'].mean() # overall percentage difference

-0.03791737703516224

### August 7, 2019 PST

In [204]:
aug7pst = aug7utc.reset_index(drop='True')
aug7pst.head() # check

,lidar_times,radar_times,time_index,lidar_heights,lat,long,radar_heights,% diff
0,23.25,23.25,298.0,7029.9143,48.023,-118.300,4969.424242,-34.343394
1,23.27,23.25,298.0,5470.9961,48.021,-118.465,4565.383838,-18.046592
2,23.27,23.25,298.0,5261.1416,48.017,-118.488,4262.353535,-20.975242
3,23.27,23.25,298.0,4121.9319,48.013,-118.510,2848.212121,-36.547875
4,23.60,23.58,302.0,4721.5159,48.018,-118.306,5575.484848,16.586751

In [205]:
aug7pst['% diff'].mean() # overall percentage difference

-5.402528994329498